[user]
  name = Christopher DeMarco
	email = cmd@alephant.net
[color]
  status = auto
  branch = auto
[alias]
  st = status
  ci = commit
  co = checkout
[push]
  default = simple
[credential]
  helper = cache
	username = cmd@alephant.net

[core]
  editor = emacs
[rerere]
  enabled = 0
