[user]
  name = Christopher DeMarco
	email = cdemarco@gmail.com
[color]
  status = auto
  branch = auto
[alias]
  st = status
  ci = commit
  co = checkout
[push]
  default = simple
  autoSetupRemote = true
[credential]
  helper = cache
	username = cdemarco@gmail.com

[core]
  editor = emacsclient -nw
[rerere]
  enabled = 0
[init]
	defaultBranch = trunk
[pull]
	rebase = true
