[submodule ".emacs.d/emacs-color-theme-solarized"]
	path = .emacs.d/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/yaml-mode"]
	path = .emacs.d/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/markdown-mode"]
	path = .emacs.d/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/christopher-demarco/oh-my-zsh.git
[submodule "homemaker"]
	path = homemaker
	url = https://github.com/FooSoft/homemaker.git
