[user]
  name = Christopher DeMarco
	email = christopher.demarco@nielsen.com
[color]
  status = auto
  branch = auto
[alias]
  st = status
  ci = commit
  co = checkout
[push]
  default = simple
[credential]
  helper = cache
	username = christopher.demarco@nielsen.com

[core]
  editor = emacs
[rerere]
  enabled = 0
